.extension-nav-link {
	&.inline {
		display: inline-block;
	}

	&.fixed {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		.nav-link-inner {
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			display: block;
			margin-top: 0;
		}
	}

	.nav-link-graphic {
		.nav-link-text {
			padding: @item-padding;
		}
		.nav-link-icon {
			padding: @item-padding;

			&.is-text {
				padding-top: 0;
			}
		}
	}

	.nav-link-button {
		.nav-link-icon {
			&.is-text {
				margin-top: @item-padding;
			}
		}
	}

	.nav-link-inner {
		&.center {
			text-align: center;
		}
	}

	.nav-link-button {
		margin-top: @button-margin;

		&.visited {
			color: @item-text-color-visited;
			background-color: @item-color-visited;
			border-color: @item-border-color-visited;
		}
	}
}
.extensions {
	text-align: center;
}
