.extension-nav-link {
	&.inline {
		display: inline-block;

		.nav-link-inner {
			margin-top: @button-margin;
		}
	}

	&.fixed {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		.nav-link-inner {
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			display: block;
			margin-top: 0;
		}
	}

	.nav-link-inner {
		&.center {
			text-align: center;
		}
	}

	.nav-link-button {
		&.visited {
			color: @item-text-color-visited;
			background-color: @item-color-visited;
			border-color: @item-border-color-visited;
		}
	}
}
.extensions {
	text-align: center;
}
