<div class="nav-link-inner {{_navLink._classes}}" tabindex="0">

    {{#each _navLink._items}}
            <button role="button" class="nav-link-button button" aria-label="{{_ariaLabels.button}}">{{text}}</button>
    {{/each}}

</div>