<div class="nav-link-inner {{_navLink._classes}}">
  {{#each _navLink._items}}
  <button role="button" class="nav-link-button button" tabindex="0" aria-label="{{_ariaLabel}}">{{text}}</button>
  {{/each}}
</div>
