<div class="nav-link-inner {{_navLink._classes}}">
  {{#each _navLink._items}}
  <button class="nav-link-button button"{{#if _ariaLabel}} aria-label="{{_ariaLabel}}"{{/if}}>{{text}}</button>
  {{/each}}
</div>
