<div class="navlink__inner {{_navLink._classes}}">
  {{#each _navLink._items}}
  <button class="btn-text navlink__btn js-navlink-btn-click"{{#if _ariaLabel}} aria-label="{{_ariaLabel}}"{{/if}} role="link">
    {{text}}
  </button>
  {{/each}}
</div>
