<div class="nav-link-inner {{_navLink._classes}}">
  {{#each _navLink._items}}
  <button class="nav-link-button"{{#if _ariaLabel}} aria-label="{{_ariaLabel}}"{{/if}} role="link">{{text}}</button>
  {{/each}}
</div>
